name: Build

on:
  pull_request:
  push:
    branches:
      - main
  workflow_call:

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-tags: true
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: Unit Tests
        run: go test -v ./...
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: Prepare THIRD_PARTY folder
        run: |
          go install github.com/google/go-licenses@v1.0.0
          make build
          make third_party
      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: false

  installer:
    runs-on: windows-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist
      - name: Create installer
        uses: caphyon/advinst-github-action@main
        with:
          advinst-version: '23.3'
          advinst-license: '${{ secrets.ADVANCED_INSTALLER_KEY }}'
          aip-path: '${{ github.workspace }}\installer\EDI-Connector.aip'
          aip-build-name: 'DefaultBuild'
          aip-output-dir: '${{ github.workspace }}\dist\'
      - uses: actions/upload-artifact@v4
        with:
          name: edi-connector-install.exe
          path: dist/edi-connector-install.exe
