name: E2E

on:
  workflow_dispatch:
  workflow_call:

concurrency:
  group: main
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/build.yaml
    secrets: inherit
  tests_linux:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist
      - name: E2E Tests Linux
        working-directory: ./e2e
        run: |
          mkdir -p /tmp/myof/logs
          mkdir -p /tmp/myof/inbound
          mkdir -p /tmp/myof/inbound_special
          mkdir -p /tmp/myof/attachment_inbound
          mkdir -p /tmp/myof/attachment_inbound_special
          mkdir -p /tmp/myof/outbound
          mkdir -p /tmp/myof/outbound_special
          mkdir -p /tmp/myof/success
          mkdir -p /tmp/myof/error
          mkdir -p /tmp/myof/attachment
          mkdir -p /tmp/myof/attachment_special
          chmod +x ../dist/edi-connector_linux_amd64/edi-connector
          ../dist/edi-connector_linux_amd64/edi-connector --config config_linux.json &
          go run main.go
        env:
          EDI_CONNECTOR: "${{ vars.LINUX_USERNAME }}:${{ secrets.LINUX_PASSWORD }}"
          EDI_CONNECTOR_SPECIAL: "${{ vars.LINUX_SPECIAL_USERNAME }}:${{ secrets.LINUX_SPECIAL_PASSWORD }}"
  tests_windows:
    runs-on: windows-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - uses: actions/download-artifact@v4
        with:
          name: edi-connector-install.exe
          path: e2e
      - name: Setup Edi-Connector
        working-directory: ./e2e
        shell: cmd
        run: |
          cmdkey /generic:EDI-Connector /user:${{ vars.WINDOWS_USERNAME }} /pass:${{ secrets.WINDOWS_PASSWORD }}
          cmdkey /generic:EDI-Connector/special /user:${{ vars.WINDOWS_SPECIAL_USERNAME }} /pass:${{ secrets.WINDOWS_SPECIAL_PASSWORD }}
          mkdir "C:/ProgramData/myOpenFactory Software GmbH/EDI-Connector/"
          copy config_windows.json "C:/ProgramData/myOpenFactory Software GmbH/EDI-Connector/config.json"
          mkdir "C:/myof/inbound/"
          mkdir "C:/myof/inbound_special/"
          mkdir "C:/myof/attachment_inbound/"
          mkdir "C:/myof/attachment_inbound_special/"
          mkdir "C:/myof/outbound/"
          mkdir "C:/myof/outbound_special/"
          mkdir "C:/myof/success/"
          mkdir "C:/myof/error/"
          mkdir "C:/myof/attachment/"
          mkdir "C:/myof/attachment_special/"
          echo "Running installer"
          start /w edi-connector-install.exe /exenoupdates /L "C:\myof\install.log" /qn CREATE_USER="false" NEED_AUTH="false" NEED_CONFIG="false" INSTALL_SERVICE="false"
      - name: Install logs
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: install-logs
          path: "C:/myof/install.log"
      - name: E2E Tests Windows
        shell: bash
        path: e2e
        run: |
          echo "Running connector"
          "/c/Program Files/myOpenFactory Software GmbH/EDI-Connector/edi-connector" &
          echo "Running tests"
          go run main.go
