name: publish

permissions:
  packages: write
  contents: write

on:
  release:
    types:
      - published
      - unpublished

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - name: Prepare THIRD_PARTY folder
        run: |
          go install github.com/google/go-licenses@v1.0.0
          make third_party
      - name: Release
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - run: npm install semver
      - uses: actions/github-script@f28e40c7f34bde8b3046d885e986cb6290c5673b # v7
        id: version
        with:
          script: |-
            const semver = require('semver')
            const parsed = semver.parse('${{ github.ref_name }}')
            core.setOutput('major', parsed.major)
            core.setOutput('minor', parsed.minor)
            core.setOutput('patch', parsed.patch)
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |-
            ghcr.io/myopenfactory/edi-connector:latest
            ghcr.io/myopenfactory/edi-connector:${{ steps.version.outputs.major }}
            ghcr.io/myopenfactory/edi-connector:${{ steps.version.outputs.major }}.${{ steps.version.outputs.minor }}
            ghcr.io/myopenfactory/edi-connector:${{ steps.version.outputs.major }}.${{ steps.version.outputs.minor }}.${{ steps.version.outputs.patch }}
      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist

  windows_installer:
    runs-on:
      - Windows
      - sign
    needs: release
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist
      - name: Extract tag name
        id: tag
        uses: actions/github-script@v8
        with:
          script: |
            return "${{ github.ref_name }}".substring(1).replace(/-rc(\d+)/g, '.$1');
      - name: Create installer
        uses: caphyon/advinst-github-action@main
        with:
          advinst-version: '23.3'
          advinst-license: '${{ secrets.ADVANCED_INSTALLER_KEY }}'
          advinst-enable-automation: 'true'
      - name: Sign installer
        run: |
          $ErrorActionPreference = "Stop"
          $aipPath = join-path $env:GITHUB_WORKSPACE "installer\EDI-Connector.aip";
          Write-Host "AIP: $aipPath";
          $advinst = new-object -com advancedinstaller;
          $project = $advinst.LoadProject($aipPath);
          $project.ProductDetails.Version = "${{ steps.tag.outputs.result }}";
          $project.DigitalSignature.EnableSigning = $true;
          $project.DigitalSignature.Description = "[|ProductName]";
          $project.DigitalSignature.DescriptionURL = "https://github.com/myopenfactory/edi-connector";
          $project.DigitalSignature.TimestampServiceURL = "https://timestamp.globalsign.com/tsa/r6advanced1";
          $project.DigitalSignature.TimestampDelayMs = 0;
          $project.Save();
          $project.Build();
      - uses: actions/upload-artifact@v4
        with:
          name: edi-connector-install.exe
          path: dist/edi-connector-install.exe
      - uses: actions/github-script@v8
        with:
          script: |
            const owner = 'myopenfactory';
            const repo = 'edi-connector';
            const fs = require('fs');
            const data = fs.readFileSync('dist/edi-connector-install.exe');
            
            const { data: tag }= await github.request('GET /repos/{owner}/{repo}/releases/tags/{tag}', {
              owner,
              repo,
              tag: '${{ github.ref_name }}',
              headers: {
                'X-GitHub-Api-Version': '2022-11-28'
              }
            });
            
            await github.rest.repos.uploadReleaseAsset({
              owner,
              repo,
              release_id: tag.id,
              name: 'edi-connector-install.exe',
              data,
            });
            
            await github.rest.releases.update({
              owner,
              repo,
              release_id: tag.id,
              draft: false,
            })
