name: Release project
"on":
  workflow_dispatch:
    inputs:
      level:
        description: The release level
        required: true
        type: choice
        options:
          - major
          - minor
          - patch
jobs:
  tests:
    uses: ./.github/workflows/e2e.yaml
  release:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - id: app-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2
        with:
          app-id: ${{ vars.MYOPENFACTORY_APP_ID }}
          private-key: ${{ secrets.MYOPENFACTORY_APP_PEM }}
          repositories: myopenfactory
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Get current version
        id: next-version
        run: |-
          lastVersion=$(git tag -l --sort=-version:refname | head -1 | cut -dv -f2)
          IFS=. read -r major minor patch <<EOF
          $lastVersion
          EOF
          case "${{ inputs.level }}" in
          patch) tag="$major.$minor.$((patch+1))"; ;;
          major) tag="$((major+1)).0.0"; ;;
          minor) tag="$major.$((minor+1)).0"; ;;
          *) echo "failed"; exit 1; ;;
          esac
          echo "found release with level ${{ inputs.level }} has version $lastVersion and new version $tag"
          echo "version=$tag" >> "$GITHUB_OUTPUT"
      - uses: actions/github-script@f28e40c7f34bde8b3046d885e986cb6290c5673b # v7
        with:
          github-token: ${{ steps.app-token.outputs.token }}
          script: |-
            const tag_name = "v${{ steps.next-version.outputs.version }}";
            await github.rest.repos.createRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag_name,
              target_commitish: 'main',
              name: tag_name,
              generate_release_notes: true
            });