name: Release project
"on":
  workflow_dispatch:
    inputs:
      level:
        description: "The semver release level, see: https://github.com/npm/node-semver?tab=readme-ov-file#functions"
        required: true
        type: choice
        default: minor
        options:
          - major
          - premajor
          - minor
          - preminor
          - patch
          - prepatch
          - release
          - prerelease
      draft_release:
        description: Draft the release
        required: true
        type: boolean
        default: false

permissions:
  contents: write

jobs:
  tests:
    uses: ./.github/workflows/e2e.yaml
    secrets: inherit
  release:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - run: npm install semver
      - uses: actions/github-script@f28e40c7f34bde8b3046d885e986cb6290c5673b # v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |-
            const semver = require('semver')
            const releases = await github.rest.repos.listReleases({
              owner: context.repo.owner,
              repo: context.repo.repo,
            });
            var nextVersion = "";
            for (const release of releases.data ) {
              if( release.draft === false ) {
                const prereleaseLevels = ['premajor', 'preminor', 'prepatch', 'prerelease'];
                if (prereleaseLevels.includes('${{ inputs.level }}')) {
                  nextVersion = semver.inc(release.tag_name, '${{ inputs.level }}', 'rc');
                } else {
                  nextVersion = semver.inc(release.tag_name, '${{ inputs.level }}');
                }
                break;
              }
            }
            if(nextVersion === "") {
              core.setFailed('Could not find any non-draft releases');
              return;
            }
            const pre = semver.prerelease(nextVersion);
            await github.rest.repos.createRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag_name: "v"+nextVersion,
              target_commitish: 'main',
              name: "Release " + nextVersion,
              generate_release_notes: true,
              draft: ${{ inputs.draft_release }},
              prerelease: pre != null
            });